# Dependency directories
node_modules/
.env
.env.*   # all env variants

# Firebase
firebase-adminsdk.json

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE/editor configs
.vscode/
.idea/

# Optional: Test/coverage files
coverage/

